body{
    background-color: blueviolet;
}

.content-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.content-main-title{
    font-family: 'Courier New', Courier, monospace;
    border: 0.5px solid black;
    padding: 20px;
    box-shadow: 5px 2px 2px 2px rgba(0, 0, 0, 0.336);
}

.content-main-input {
    padding: 2px;
    text-align: center;
}

.content-main-select {
    padding: 2px;
}

.content-main-input-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;

    border: 0.5px solid black;
    padding: 20px;
    box-shadow: 5px 2px 2px 2px rgba(0, 0, 0, 0.336);
}